* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: Special Elite;
}

#site-main-title {
  text-align: center;
  line-height: 100px;
  width: 100%;
  background-color: #FFF9F5;
}

#site-main-title h1 {
  transition: font-size 0.25s;
  letter-spacing: 10px;
  color: #000;
  font-size: 35px;
}

@media screen and (max-width: 520px) {

  #site-main-title h1 {
    letter-spacing: 2px;
    font-size: 25px;
  }

}

#wooly {
  margin-left: -120px;
  left: 50%;
  width: 240px;
  position: absolute;
  z-index: -1;
  transition: 1s all ease;
  display: block;
  top: 200px;
}

#wooly.moved-top-left {
  width: 100px;
  left: 40%;
  top: 10px;
}

@media screen and (max-width: 520px) {

  #wooly {
    margin-left: -100px;
    left: 50%;
    width: 200px;
    position: absolute;
    top: 140px;
  }

}

#wooly-speech {
  z-index: -1;
  margin-top: -1em;
  position: absolute;
}

#site-bottom-menu {
  bottom: 0px;
  text-align: center;
  background-color: #FFF9F5;
  width: 100%;
  position: fixed;
}

#site-bottom-menu a {
  text-decoration: none;
  color: #000;
  margin: 0 10px;
  line-height: 80px;
  font-size: 20px;
  font-family: Special Elite;
}

#site-bottom-menu a:hover {
  color: rgb(255, 69, 102);
}